In [1]:
import pandas as pd
pd.set_option('display.max_rows', 4)

coarse_map = pd.read_csv('../data/highway_map.csv', sep='\s+', names=['x', 'y', 's', 'dx', 'dy'])
coarse_map

            x         y            s        dx        dy
0    784.6001  1135.571     0.000000 -0.023598 -0.999722
1    815.2679  1134.930    30.674479 -0.010995 -0.999940
..        ...       ...          ...       ...       ...
179  711.2000  1143.500  6871.549595 -0.263706 -0.964603
180  753.2067  1136.417  6914.149258 -0.107399 -0.994216

[181 rows x 5 columns]